<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>go learn net/http</title>
  <style>
    body{
      background-color: #afafaf;
    }
    li {
      margin: 4px;
    }
  </style>
</head>
<body>
  <p>Hello {{.Name}} !</p>
  <p>{{.message}}</p>
  <p>{{.cek}}</p>
  <ul>
    <li><a href="./index"><button>pergi</button> ke halaman index</a></li>
    <li><a href="./home"><button>pergi</button> ke halaman home</a></li>
    <li><a href="./about"><button>pergi</button> ke halaman about</a></li>
    <li><a href="./contact"><button>pergi</button> ke halama contact</a></li>
  </ul>
</body>
</html>